#adoptbg {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;

  min-height: 33vh;
  min-width: 100vw;
}

#adopttitle {
  height: 10.5em;
}
#adopttitle h1 {
  color: #fcfeff;
  font-size: 4em;
  margin-top: 2.75em;
  opacity: 0.8;
}

#adoptContentPanel {
  background-color: var(--background);
}

.adoptitem {
  box-shadow: var(--shadowA);
  background: var(--white);
  border: 2px solid var(--white);
  margin: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  transform: scale(1);
  transition: linear .1s all;
  cursor: pointer;
  &:hover {
    transform: scale(1.025);
    box-shadow: var(--shadowB);
    border: 2px solid var(--primary);
  }
}



.adopt-page {
  height: 100%;
}

.pet-item {
  height: 20em;
}

.pet-image {
  padding: 10px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

#adoptfilter {
  background: var(--background);
}

#adoptfilterbgcolor {
  background: var(--background);
}

.adopt-row {
  display: flex;
  flex-wrap: wrap;
}
